button,
.slider-intro-button {
  width: 63px;
  height: 63px;
  border-radius: 100%;
  background-color: var(--burgundy);
  border: none;
}

.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  right: 45%;
  color: var(--burgundy);
}

.button-container,
.button-container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  border: solid 1px var(--burgundy);
}

.button-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 285%;
  right: 45%;
  color: var(--burgundy);
}
