.intro-1 {
  height: 95vh;
  background-image: url(../img/img-background-intro.png?as=webp);
  background-size: cover;
  // position: absolute;
  // z-index: -1;
}

.intro-2 {
  background-image: url(../img/img-background-page-intro.png?as=webp);
  background-size: cover;
}

.intro-2 .l-img-music {
  top: 210%;
}
