/* ====================================
// css variables
// ==================================== */

:root {
  --burgundy: #44292c;
  --darkaquablue: #029986;
  --aquablue: #43ccc0;
}

@font-face {
  font-family: "Bloomer";
  src: url("../fonts/BloomerDEMO-Regular.woff2") format("woff2"),
    url("../fonts/BloomerDEMO-Regular.woff") format("woff");
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "bloomer";
}
.progress {
  // background-color: aqua;
  height: 10px;
  width: 40%;
  z-index: 1;
  position: fixed;
  bottom: 2%;
  left: 50%;
  border: 1px solid var(--darkaquablue);
  border-radius: 10px;
  transform: translateX(-50%);
}

.progress-track {
  height: 100%;
  background-color: var(--darkaquablue);
  opacity: 0.5;
}

.progress-bar,
.progress-bar-2,
.progress-bar-3 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
  background-color: var(--darkaquablue);
  border-radius: 10px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  bottom: 4%;
  left: 40%;
  color: var(--darkaquablue);
}

.progress-container p {
  text-align: center;
}
